<!-- Slideshow container -->
<div class="slideshow-container">
  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade" *ngFor="let slide of slides; let i = index" [ngClass]="{'active': i === currentSlideIndex}">
    <div class="numbertext">{{i + 1}} / {{slides.length}}</div>
    <img [src]="slide.img" style="width:100%">
    <div class="text">{{slide.caption}}</div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span *ngFor="let slide of slides; let i = index" class="dot" [ngClass]="{'active': i === currentSlideIndex}" (click)="currentSlide(i)"></span>
</div>


<div class="container">
  <div class="car-details">
    <h5>VIN</h5>
    <div class="car-details-grid">
      <div class="detail-item">
        <h5>VIN NUMBER:</h5>
        <span>JT2JA82J4P0001001</span>
      </div>
      <div class="detail-item">
        <h5>FRAME NUMBER:</h5>
        <span>01001</span>
      </div>
      <div class="detail-item">
        <h5>MFG. YEAR:</h5>
        <span>1993</span>
      </div>
      <div class="detail-item">
        <h5>PLANT:</h5>
        <span>OTO BAKA GANA</span>
      </div>
      <div class="detail-item">
        <h5>MARKET</h5>
        <span>USDM</span>
      </div>
      <div class="detail-item">
        <h5>GRADE:</h5>
        <span>LS-I</span>
      </div>
      <div class="detail-item">
        <h5>LAST KNOWN MILEAGE:</h5>
        <span>OTO BAKA GANA</span>
      </div>
      <!-- Add all other details similarly -->
      <div class="detail-item">
        <h5>VERIFICATION</h5>
        <span>Not verified</span>
      </div>
    </div>
  </div>
  <div class="comments-section">
    <h5>Comments</h5>
    <!--<div class="comment" *ngFor="let comment of comments">
      <p>{{ comment.text }}</p>
      <span class="comment-author">{{ comment.author }}</span>
    </div>
     Add a form to submit new comments if needed -->
  </div>
</div>
